consul = "consul.tokopedia.local:8500"

log_level = "warn"
template {
  // consul template to run 
  source      = "/var/consul/template/gosample.main.ctmpl"

  // consul output file to be updated with template run output
  destination = "/etc/gosample/hello.production.ini"

  // commands to be executed after the destination file is updated. please look at it carefully.
  command = "gosample -t && (reload toko-gosample || mail -A /etc/gosample/session.production.ini -aFrom:consul-template@tokopedia.com -s \"ALERT: misconfigured gosample on $HOSTNAME `ip addr | grep inet | grep -v inet6 | grep -vw lo  | head -1 | cut -d/ -f1`\" -t \"power.ranger@tokopedia.com\")"
  
  // this is by default 30s
  command_timeout = "90s"
}
